* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 141);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main header h1 {
    background-color: rgb(73, 64, 0);
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    width: 75%;
    max-width: 1000px;
}

main nav {
    background-color: rgb(0, 0, 37);
    padding: 25px 50px 25px 50px;
    width: 100%;
}

main nav img {
    width: 200px;
    height: 100px;
}

#gallery {
    display: flex;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.picture{
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.picture:hover {
    border: 2px rgb(81, 0, 0) solid;
    cursor: pointer;
}

#dialog{
    background-color: rgb(245, 245, 245);
    max-width: 500px;
    width: 75%;
    height: 50%;
    max-height: 500px;
    min-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 57px 25px rgba(0,0,0,0.62);
    -webkit-box-shadow: 2px 2px 57px 25px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 2px 57px 25px rgba(0,0,0,0.62);
    border-radius: 20px;
    padding: 20px;
    min-width: 330px;
}

#dialog::backdrop {
    background: #00000080;
}

#dialog .buttonClose {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    color: white;
    cursor: pointer;
    position: relative;
    left: 88%;
}

#dialog img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
}

#dialog .rotation {
    align-items: center;
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

}

#show {
   font-weight: bold; 
   font-size: medium;
}

#dialog .rotation .buttonX {
    background-color: rgb(217, 112, 0);
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 50px;
}

#dialog .rotation .buttonX:hover {
    background-color: rgb(164, 85, 0);
    color: white;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}